
body {
  padding: 0px !important;
}
.modal-content {
  background: rgba(0,0,0,0.7) !important;
}
.modalrecover {
  background: rgba(0,0,0,0.98) !important;
  color: white !important;
}
.registrationmodal-form .form {
  font-family: 'Oswald', sans-serif;
  background: rgba(0,0,0,0.7); 
  
  margin: auto;
  padding: 50px 70px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
}

.titulomodal {
  font-family: 'Oswald', sans-serif;  
  margin: auto;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.titleAdmFoods {
  font-family: 'Oswald', sans-serif; 
  color: black;
}

.registrationmodal-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registrationmodal-form .modalBtn {
  font-family: 'Oswald', sans-serif;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
background: gray;
  border: none;
  color: white;
  margin-top: 20px;
}

.remember {
  color: gray;
}

.card-img-top{
  width: rem;
}

@media (max-width: 768px) {
  .registration-form form {
    padding: 50px 30px;
  }

  .registrationmodal-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}

@media (max-width: 320px) {
  .olvideContrasenia {
    font-size: 15px;

  }
}