  .imgBackgroundReg {
    background-image: url(https://cdn.pixabay.com/photo/2017/07/31/11/07/kitchen-2557285_960_720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
  }

  .registration-form {
    padding: 316px 0;
  }

  .registration-form form {
    background-color: 0, 0, 0, 0.080;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.75);
  }

  .titulo {
    max-width: 768px;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    color: black;
  }

  .registration-form .item {
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
  }

  .registration-form .create-account {
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: gray;
    border: none;
    color: white;
    margin-top: 20px;
  }

  @media (max-width: 768px) {
    .registration-form form {
      padding: 50px 30px;
    }

    .registration-form .form-icon {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
    }
  }